@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --bg-dark: hsl(216 18 16);
    --bg: hsl(216 18 26);
    --bg-light: hsl(216 18 36);
    --text: hsl(0 0 93);
    --text-muted: hsl(0 0 83);
    --border: hsl(216 18 26);
    --border-muted: hsl(216 18 20);
    --primary: hsl(183 100 35);
    --secondary: hsl(51 100 35);
    --danger: hsl(354 70 50);
    --warning: hsl(50 94 49);
    --success: hsl(99 53 55);
}

* {
    font-family: "Lexend", sans-serif;
}

* {
    font-family: "Lexend", sans-serif;
}

/**
* FONT'S FORMAT
*
* weight: 400, 18px
* weight: 400, 16px
* weight: 300, 16px
* weight: 200, 16px
* weight: 100, 16px
* weight: 400, 14px
*/
body {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 1rem;
    background: var(--bg-dark);
    margin-top: 5rem;
}

.auth_form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

.auth_form {
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--text);

    h2 {
        margin-bottom: 0;
    }

    form {
        width: 100%;
    }

    a {
        color: var(--text);
    }
}

.form {
    box-sizing: border-box;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    input, textarea {
        width: 100%;
        resize: none;
        font-size: 1rem;
        padding: 1rem .5rem;
        border-radius: .5rem;
        border: none;
        box-sizing: border-box;
    }

    .input_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
            align-self: flex-start;
        }
    }

    input[type=submit] {
        background-color: var(--primary);
    }

    .remember {
        display: flex;
        justify-self: center;
        align-self: center;
    }
}

.quack {
    background: var(--bg-light);
    box-shadow: 0 .5rem .5rem var(--border-muted);
    border: 1px solid var(--border-muted);
    width: min(70%, 50rem);
    padding:1rem;
    border-radius:.5rem;
    box-sizing:border-box;
    color: var(--text);

    .quack_username {
        font-size: 12px;
        color: var(--text-muted);
        margin-bottom: 0;
    }

    .quack_title {
        display: inline;
        font-size: 18px;
    }

    .quack_content {
        font-size: 16px;
        font-weight: 300;
        color: var(--text-muted);
    }

    img {
        width: 100%;
        border-radius: .5rem;
    }

    .details_button {
        display: block;
        color: var(--text);
        margin: 1rem 0;
    }

    .comments {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        background-color: var(--bg);
        border-radius: .5rem;

        input[type=text] {
            box-sizing: border-box;
            height: 2.5rem;
            width: 70%;
            border-radius: .5rem;
            border: 1px solid var(--border);
            padding-left: 2rem;
            margin: .5rem;
        }
    }
}

.button_container {
    display: flex;
    gap: .5rem;
}

.delete_button {
    width:7rem;
    background: var(--danger);
    color: #fff;
    padding: .2rem;
    border-radius: .5rem;
    border:none;
    font-weight: 700;

    &:active {
        transform: scale(0.95);
    }
}

.edit_button {
    width:7rem;
    background: var(--success);
    color: #eee;
    padding: .2rem;
    border-radius: .5rem;
    border:none;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    &:active {
        transform: scale(0.95);
    }
}

.action_button {
    position: fixed;
    left: 3rem;
    top: 6rem;
    background-color: var(--bg-light);
    padding: .5rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    transition: all .2s;
    box-shadow: 0 .2rem .5rem var(--border-muted);
}

.create_quack_button {
    img {
        width: 3rem;
    }

    &:hover {
        background-color: #07c;
        outline: 1px solid #0af;
        box-shadow: 0 .2rem .5rem #09b;
    }
}

.create_quashtag_button {
    img {
        width: 3rem;
    }

    &:hover {
        transform: scale(1.05);
        background-color: #0c7;
        box-shadow: 0 .2rem .5rem #0b9;
        outline: 1px solid #0fa;
        animation-name: quashtags;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }
}

.show_users_button {
    img {
        width: 3rem;
    }

    &:hover {
        transform: scale(1.05);
        background-color: #c07;
        outline: 1px solid #f0a;
        box-shadow: 0 .2rem .5rem #b09;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--bg-light);
    padding: 1rem;
    box-shadow: 0 .5rem .5rem var(--border-muted);
    height: 2rem;
}

.header_menu_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    nav {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
            text-decoration: none;
            color: var(--text);

            &:hover {
                background: var(--bg-dark);
            }
        }
    }
}

.icon {
    width: 24px;
    path {
        color: var(--text);
        fill: var(--text);
    }
}

.follow_icon {
    width: 24px;
    path {
        color: var(--danger);
    }
}

.following {
    path {
        fill: var(--danger);
    }
}

.header_link {
    padding: .5rem 2rem;
    background: var(--bg);
    border-radius: .5rem;
}

.auth_user_name {
    color: var(--text);
}

.user_img {
    width: 3rem;
    border-radius: 3rem;
    border: 1px solid var(--border);
    cursor: pointer;
}

.float_menu {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    right: min(7rem,10%);
    top: 4rem;
    background-color: var(--bg);
    box-shadow: 0 .5rem .5rem var(--border-muted);
    border-radius: .5rem;
    width: 15rem;

    a {
        text-align: center;
        text-decoration: none;
        background: transparent;
        border: none;
        padding: .5rem 0;
        margin: .5rem;
        border-radius: .5rem;
        width: 90%;
        color: var(--text);
        font-size: 1rem;

        &:hover {
            background: var(--bg-light);
            cursor: pointer;
        }

    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    input {
        background: transparent;
        border: none;
        padding: .5rem;
        border-radius: .5rem;
        width: 90%;
        color: var(--text);
        font-size: 1rem;

        &:hover {
            background: var(--bg-light);
            cursor: pointer;
        }
    }
}

.show_float_menu {
    display: flex;
}
