@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/* Esto no fue hecho por IA, simplemente me inspire y encontre
* esta herramien para generar UI colors https://www.iamsajid.com/ui-colors/
*/
:root {
--bg-dark: oklch(0.92 0.025 251);
--bg: oklch(0.96 0.025 251);
--bg-light: oklch(1 0.025 251);
--text: oklch(0.15 0.05 251);
--text-muted: oklch(0.4 0.05 251);
--highlight: oklch(1 0.05 251);
--border: oklch(0.6 0.05 251);
--border-muted: oklch(0.7 0.05 251);
--primary: oklch(0.4 0.1 251);
--secondary: oklch(0.4 0.1 71);
--danger: oklch(0.5 0.05 30);
--warning: oklch(0.5 0.05 100);
--success: oklch(0.5 0.05 160);
--info: oklch(0.5 0.05 260);
}

* {
    font-family: "Lexend", sans-serif;
}

/**
* FONT'S FORMAT
*
* weight: 400, 18px
* weight: 400, 16px
* weight: 300, 16px
* weight: 200, 16px
* weight: 100, 16px
* weight: 400, 14px
*/
body {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 1rem;
    background: var(--bg-dark);
    margin-top: 5rem;
}

.quack {
    background: var(--bg-light);
    box-shadow: 0 .5rem .5rem var(--border);
    border: 1px solid var(--border-muted);
    width: min(70%, 50rem);
    padding:1rem;
    border-radius:.5rem;
    box-sizing:border-box;
    color: var(--text);

    .quack_title {
        display: inline;
        font-size: 18px;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .quack_content {
        font-size: 16px;
        font-weight: 300;
        color: var(--text-muted);
    }

    img {
        width: 100%;
        border-radius: .5rem;
    }

    .comments {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        background-color: var(--bg-dark);
        border-radius: .5rem;

        input[type=text] {
            box-sizing: border-box;
            height: 2.5rem;
            width: 70%;
            border-radius: .5rem;
            border: 1px solid var(--border);
            padding-left: 2rem;
            margin: .5rem;
        }
    }
}

.button_container {
    display: flex;
    gap: .5rem;
}

.delete_button {
    width:7rem;
    background: var(--danger);
    color: #fff;
    padding: .2rem;
    border-radius: .5rem;
    border:none;
    font-weight: 700;

    &:active {
        transform: scale(0.95);
    }
}

.edit_button {
    width:7rem;
    background: var(--success);
    color: #eee;
    padding: .2rem;
    border-radius: .5rem;
    border:none;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    &:active {
        transform: scale(0.95);
    }
}

.form {
    background-color: #eee;
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 15rem;
    gap: .5rem;

    input,textarea {
        width: 90%;
        resize: none;
        font-size: 1rem;
    }
}

.action_button_container {
    position: fixed;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.action_button {
    background-color: var(--bg-light);
    padding: .5rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    transition: all .2s;
    box-shadow: 0 .2rem .5rem var(--text-muted);
}

.create_quack_button {
    img {
        width: 3rem;
    }

    &:hover {
        transform: scale(1.05);
        background-color: #07c;
        outline: 1px solid #0af;
        box-shadow: 0 .2rem .5rem #09b;
    }
}

.create_quashtag_button {
    img {
        width: 3rem;
    }

    &:hover {
        transform: scale(1.05);
        background-color: #0c7;
        box-shadow: 0 .2rem .5rem #0b9;
        outline: 1px solid #0fa;
        animation-name: quashtags;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }
}

.show_users_button {
    img {
        width: 3rem;
    }

    &:hover {
        transform: scale(1.05);
        background-color: #c07;
        outline: 1px solid #f0a;
        box-shadow: 0 .2rem .5rem #b09;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--bg-light);
    padding: 1rem;
    box-shadow: 0 .5rem .5rem var(--border);
}

.header_menu_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    nav {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
            text-decoration: none;
            color: var(--text);

            &:hover {
                background: var(--bg-dark);
            }
        }
    }
}

.icon {
    width: 24px;

    /* path { */
    /*     color: white; */
    /*     fill: white; */
    /*     stroke: white; */
    /* } */
}

.header_link {
    padding: 1rem 2rem;
    background: var(--bg);
    border-radius: .5rem;
}

.user_img {
    width: 3rem;
    border-radius: 3rem;
    border: 1px solid var(--border);
}
